.bg {
  background-image: url("../images/manvi4.jpg");
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.me {
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.whome {
  position: absolute;
  top: 70%;
  left: 77%;
  transform: translate(-50%, -50%);
}
